body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
     max-width: 1440px;
    margin: auto;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .header {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
  .header__img {
    padding: 0 2rem;
    margin-right: 50rem;
  }
  .header__nav {
    display: flex;
  }
  .header__nav__link {
    padding: 2rem;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  .header__nav__link[data-active=true] {
    color: #0065FC;
    border-top: 3px #0065FC;

  }
  .header__nav__link:hover {
    color: #0065FC;
  }
  .header__signup {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
  }


  .main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
  }
  .search__form__wrapicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
  }
  .search__form__search__input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    height: 3rem;
  }
  .search__form__search__input::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: #00000069;
    
  }
  .search__form__submit__input {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
    height: 3rem;

  }
  .search__filters {
    display: flex;
    margin-top: 2rem;
  }
  .search__filters__title {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
  }

.search__filters__filter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.search__filters__filter:hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}
.search__filters__filter__wrapicon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: -3px;
}
.search__filters__filter__wrapicon__icon {
  color: blue;
}
.search__filters__filter__title {
  margin: 0 1rem;
}
.search__result {
  display: flex;
  align-items: center;
}
.search__result__wrapicon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.search__result__wrapicon__icon {
  color: #0065FC;
}
/*HOSTING*/
.hosting__wrapper, .hosting__popular, .hosting__main {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}

.hosting {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;

}
.hosting__main {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr); 
}

.hosting__main__header {
  grid-column: 1/-1;
}

.hosting__main__header__title {
  margin: 0;
}

.hosting__main__card {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.hosting__main__card:hover {
  transform: scale(1.02);
}

.hosting__main__card__figure {
  margin: 0;
}
.hosting__main__card__figure__img {
  height: 7rem;
  object-fit: cover;
  
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.hosting__main__card__grade__icon[data-active=true] {
  color: #0065FC;
}
.hosting__main__card__grade__icon[data-active=false] {
  color: #d9d9d9;
}
.hosting__main__viewmore {
  font-weight: bold;
}
/*POPULAR*/

.hostingPopularWrapcontentContentWhitespace {
  flex: 1;
}

.hosting__popular__card {
    width: 10%;
    height: 100%;
    z-index: 1;
}
.hosting__popular__wrapcontent__wrapimg__img {
    position: relative;
    width: 43%;
    overflow: hidden;
    margin: 3px 0 3px 3px;
    border-radius: 10px 0 0 10px;
    flex: 3;
}
.soleil__matin {
    width: 164px;
    position: absolute;
    left: -76%;
    top: -4%;
    background-size: cover;
}
.coeur__eau{
    width: 142px;
    position: absolute;
    left: -57%;
    top: -5%;
    background-size: cover;
}
.bleu__blanc {
    width: 105px;
    position: absolute;
    left: -20%;
    top: -34%;
    background-size: cover;
}
.hosting__popular__wrapcontent__content {
    padding: 11px 0 0 13px;
    flex: 5;
}
.hosting__main__card__grade__icon {
    margin-top: 23px;
}









.fa-chart-line {
  margin-left: 5rem;
}

.hosting__popular__card {


 
}

.hosting__popular {
  display: grid;
  row-gap: 2rem;
  align-items: flex-start;
  grid-template-rows: auto repeat(3, 1fr);
  
  height: 90%;
  width: 90%;
}

.hosting__main__card__figure__caption__title {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hosting__popular__wrapcontent {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

.hosting__popular__wrapcontent__wrapimg {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}

.hosting__popular__wrapcontent__wrapimg__img {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hosting__popular__wrapcontent__content {
  display: flex;
  flex-direction: column;
}

.hosting__popular__card {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 40%;
  height: 9rem;
  border-radius: 15px 0 0 15px;
}

.hosting__popular__wrapcontent__wrapimg__img {
  width: 100%;
  height: 100%;
  max-height: 110px;
  min-width: 170px;
  border-radius: 20px 0 0 15px;
  object-fit: cover;
}

.hosting__main__card__figure__caption__title {
  grid-column: 1/-1;
}


/*ACTIVITY*/

.activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}

.activity__card {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
  
}

.activity__card:hover {
  transform: scale(1.01);
}

.activity__card__wrapimg {
  position: relative;
  flex: 1;
}

.activity__card__wrapimg__img {
  object-fit: cover;
  border-radius: 20px 0 0 0 ;
  width: 100%;
  height: 100%;
  margin: 0;
}


.activity__card__title {
  grid-column: 1/-1;
  margin: 1.2rem 1.5rem;
}

.activity__card1 {
  grid-row: 2/7;
  grid-column: 1/2;
}
.activity__card2 {
  grid-column: 2/3;
  grid-row: 2/5;
}
.activity__card3 {
  grid-column: 3/4;
  grid-row: 2/7;
}
.activity__card4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
.activity__card5 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.activity__card6 {
  grid-column: 4/5;
  grid-row: 4/7;
}


/*FOOTER*/

.footer {
  background-color: #F2F2F2;
  width: 100%;
  
}
.footer__columnwrapper {
  display: flex;
}
.footer__columnwrapper__column {
  width: 30%;
  padding: 2rem 2rem;
}
.footer__columnwrapper__column__link {
  display: block;
  margin: 1rem ;
}
