footer {
  display: flex;
  background-color: var(--background-color);
  position: relative;
  z-index: 50;
}

footer h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: calc(var(--spacing-base) * 0.5);
}

footer li {
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
}

footer a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-link {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing-xs) * 3);
  width: calc(100% / 3);
}

@media screen and (max-width: 525px) {
 
  footer {
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;     
  }
  .footer-link {
    padding: calc(var(--spacing-xs) * 1.5);
  }