main {
  margin: var(--spacing-base);
  display: grid;
  grid-template-areas:
    "hebergements popular"
    "activities activities";
  grid-gap: 2rem;
  grid-template-columns: 1fr calc(100% / 3);
  position: relative;
}

.hebergements {
  grid-area: hebergements;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: var(--spacing-base);
  grid-template-columns: repeat(3, 1fr);
}
.hebergements__title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.hebergements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.hebergements__cards__card {
  text-decoration: none;
  color: var(--text-color);
  justify-content: space-between;
  border: white solid 5px;
  background-color: white;
  border-radius: 20px;
  /*margin-top: calc (var(--spacing-xs) / 2);
  margin-bottom: var(--spacing-xs);*/
  overflow: hidden;
  box-shadow: 3px 5px 5px #e2e2e2;
  /*display: grid;
  grid-template-rows: 2fr;*/
  transform: scale(1);
  transition: transform 250ms;
}
.hebergements__cards__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.hebergements__cards__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hebergements__cards__card__image {
  height: 115px;
  width: 100%;
  object-fit: cover; /*
  border-radius: 20px 20px 0 0;*/
}
.hebergements__cards__card__title {
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.hebergements__cards__card__info {
  font-size: 0.9em;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.hebergements__cards__card__stars {
  color: var(--primary-color);
  font-size: 0.8em;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.hebergements__cards__card__stars_star--grey {
  color: var(--background-color);
}
.hebergements__link {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 2rem;
  display: inline-block;
}

.popular {
  grid-area: popular;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: var(--spacing-base);
  grid-template-columns: calc(100%- (200% / 3));
}
.popular__title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.3rem;
}
.popular__title__icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.popular__card {
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid white;
  box-shadow: 3px 5px 5px #e2e2e2;
  display: flex;
  margin-top: var(--spacing-base);
  text-decoration: none;
  overflow: hidden;
  transform: scale(1);
  transition: transform 250ms;
}
.popular__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.popular__card__image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  /*border-radius: 20px 0 0 20px;*/
}
.popular__card__in__info {
  text-decoration: none;
  margin-top: calc(var(--spacing-xs) / 4);
  margin-left: calc(var(--spacing-xs) / 1);
  font-size: 0.9em;
  margin-top: 1rem;
}
.popular__card__in__title {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: calc(var(--spacing-xs) / 2);
  font-size: 0.9rem;
}
.popular__card__in__text {
  color: var(--text-color);
}

.popular__card__in__stars_star {
  color: var(--primary-color);
  padding-top: calc(var(--spacing-xs) * 1.8);
  font-size: 0.8em;
}
.popular__card__in__stars_star--grey {
  color: var(--background-color);
}

.activities {
  grid-area: activities;
}
.activities__title {
  font-weight: bold;
  padding: 40px 0;
  font-size: 1.3rem;
}
.activities__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.port {
  height: 340px;
}
.pomegues {
  height: 125px;
}
.frioul {
  height: 125px;
}
.calanques {
  height: 340px;
}
.dame {
  height: 125px;
}
.longchamp {
  height: 125px;
}
.activities__cards :nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.activities__cards :nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.activities__cards :nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.activities__cards :nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.activities__cards :nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.activities__cards :nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.activities__cards__card {
  text-decoration: none;
  color: var(--text-color);
  box-shadow: 3px 5px 5px #e2e2e2;
  border-radius: 20px;
  max-height: 400px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 250ms;
}
.activities__cards__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.activities__cards__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.activities__cards__card__image {
  width: 100%;
  object-fit: cover;
}
.activities__cards__card__title {
  font-weight: bold;
  padding: var(--spacing-xs);
}

@media screen and (max-width: 500px) {
  main {
    grid-template-areas:
      "popular"
      "hebergements"
      "activities";
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    column-gap: 0;
  }
  .popular {
    border-radius: 0;
  }
  .hebergements {
    background-color: white;
  }

  .hebergements {
    background-color: white;
  }

  .hebergements__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hebergements__cards__card {
    width: 100%;
  }
  .hebergements__link {
    margin-top: 30px;
  }
  .activities__title {
    margin-left: var(--spacing-base);
  }
  .activities__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .activities__cards__card {
    width: 90%;
  }
  .port {
    height: 125px;
  }
  .calanques {
    height: 125px;
  }
}

@media screen and (max-width: 900px) and (min-width: 500px) {
  main {
    grid-template-areas:
      "popular"
      "hebergements"
      "activities";
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
  }
  .popular {
    border-radius: 0;
  }
  .popular__title {
    padding: 0 calc(var(--spacing-base) * 3);
  }
  .hebergements {
    background-color: white;
    padding: 0 var(--spacing-base);
  }

  .hebergements__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hebergements__cards__card {
    width: 100%;
  }
  .hebergements__link {
    margin-top: 30px;
  }
  .activities {
    padding: 0 var(--spacing-base);
  }
  .activities__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .activities__cards__card {
    width: 100%;
  }
  .port {
    height: 125px;
  }
  .calanques {
    height: 125px;
  }
}
