main {
  margin: var(--spacing-base);
  display: grid;
  grid-template-areas:
    "hebergements popular"
    "activities activities";
  grid-gap: 2rem;
  position: relative;
  z-index: index 2;
}

.hebergements {
  grid-area: hebergements;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: var(--spacing-base);
  grid-template-columns: calc(100%- (100% / 3));
}
.hebergements__title {
  font-weight: bold;
}
.hebergements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.hebergements__cards__card {
  text-decoration: none;
  color: var(--text-color);
  justify-content: space-between;
  border: white solid 5px;
  background-color: white;
  border-radius: 20px;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);

  box-shadow: 3px 5px 5px #e2e2e2;
  /*display: grid;
  grid-template-rows: 2fr;*/
}
.hebergements__cards__card__image {
  height: 115px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.hebergements__cards__card__title {
  font-weight: bold;
}
.hebergements__cards__card__info {
}
.hebergements__cards__card__stars {
  color: var(--primary-color);
}
.hebergements__cards__card__stars_star--grey {
  color: var(--background-color);
}
.hebergements__link {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.popular {
  grid-area: popular;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: var(--spacing-base);
  grid-template-columns: calc(100%- (200% / 3));
}
.popular__title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.popular__title__icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.popular__card {
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid white;
  box-shadow: 3px 5px 5px #e2e2e2;
  display: flex;
  margin-top: var(--spacing-base);
  text-decoration: none;
}
.popular__card__image {
  height: 100px;
  width: 100px;
  border-radius: 20px 0 0 20px;
}
.popular__card__in__info {
  text-decoration: none;
  margin-top: calc(var(--spacing-xs) / 4);
  margin-left: calc(var(--spacing-xs) / 1);
}
.popular__card__in__title {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: calc(var(--spacing-xs) / 2);
}
.popular__card__in__text {
  color: var(--text-color);
}
.popular__card__in__stars {
}
.popular__card__in__stars_star {
  color: var(--primary-color);
  padding-top: calc(var(--spacing-xs) * 1);
}
.popular__card__in__stars_star--grey {
  color: var(--background-color);
}

.activities {
  grid-area: activities;
}
.activities__title {
  font-weight: bold;
  padding: 60px 0;
  /*padding-bottom: var(--spacing-xs);*/
}
.activities__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.activities__cards :nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.activities__cards :nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.activities__cards :nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.activities__cards :nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.activities__cards :nth-child(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.activities__cards :nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.activities__cards__card {
  text-decoration: none;
  color: var(--text-color);
  box-shadow: 3px 5px 5px #e2e2e2;
  border-radius: 20px;
}
.activities__cards__card__image {
  border-radius: 20px 20px 0 0;
  height: 80%;
  width: 100%;
}
.activities__cards__card__title {
  font-weight: bold;
  margin-left: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}

@media screen and (max-width: 525px) {
  main {
    margin: 0;
    display: grid;
    grid-template-areas:
      " popular "
      " hebergements"
      "activities ";
    grid-gap: var(--spacing-base);
    padding: var(--spacing-xs);
  }
  .hebergements {
    background-color: white;
  }

  .hebergements__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hebergements__cards__card {
    width: 100%;
  }
  .hebergements__link {
    margin-top: 30px;
  }
  .activities__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .activities__cards__card {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) (min-width: 800px) {
  main {
    margin: 0;
    display: grid;
    grid-template-areas:
      " popular "
      " hebergements"
      "activities ";
    grid-gap: 2rem;
  }
}
