/* Mise en page de la section hébergements*/
.hosting_marseille {
  display: grid;
  grid-template-columns: 35fr 15fr;
  grid-template-rows: 1fr;
  grid-column-gap: calc(var(--spacing-base) * 3);
}
.fa-star {
  font-size: 0.8em;
}

/* Mise en forme de la partie hébergement gauche*/

/* Mise en place du container gauche */
/*.left {
  background-color: var(--background-color);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5px 1fr 1fr 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: var(--spacing-base);
}*/
.left {
  background-color: var(--background-color);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
  padding-bottom: var(--spacing-base);
  grid-column-gap: var(--spacing-base);
  grid-row-gap: var(--spacing-base);
  margin: var(--spacing-base);
  background-color: green;
}

.left h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  font-weight: bold;
  padding-top: var(--spacing-base);
}

/* Insertion des images et mise en forme*/

.photo__hotel__cannebiere {
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.photo__hotel__port {
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.photo__hotel__mouettes {
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.photo__hotel__mer {
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.photo__hotel__panier {
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.photo__hotel__amina {
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

/* Cadre de toutes les images et descriptions */

.hosting__main__card {
  justify-content: space-between;
  border: white solid 5px;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 2fr;
  box-shadow: 3px 5px 5px #e2e2e2;
}

/* Description cliquable et enlèvement du soulignement */

.hosting__main__card a:hover {
  color: var(--boutonColor);
  text-decoration: none;
}

.hosting__main__card a {
  color: black;
  text-decoration: none;
}
/* Ajustement description sous photo */

.descrip {
  padding: 5px 0 5px 15px;
}

/* Ajustement titre des photos*/
h3 {
  margin: 0px;
  font-size: 0.9em;
}

/* Ajustement ligne tarif nuit*/

h3 + p {
  font-size: 0.8em;
  margin: 5px 0 5px 0;
}

/* Fond bleu des étoiles */
.blue {
  color: var(--primary-color);
}

/* Fond gris des étoiles */

.grey {
  color: var(--secondary-color);
}

/* Ajustement des photos*/

/* Mise en place du bouton afficher plus avec effet de survol*/

#viewmore {
  border: none;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  padding: 20px 0 0 10px;
}

#viewmore a {
  text-decoration: none;
  color: black;
}

#viewmore :hover {
  text-decoration: none;
  color: var(--boutonColor);
}

/* Fin de la mise en forme de la partie hébergement left*/

/* Mise en forme de la partie hébergement droite*/

/* Mise en place du container droit */

.hosting__popular {
  background-color: var(--background-color);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 55px 2fr 2fr 2fr;
  grid-row-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}
/* Description cliquable et enlèvement du soulignement */

.hosting__popular a:hover {
  color: var(--boutonColor);
  text-decoration: none;
}

.hosting__popular a {
  color: black;
  text-decoration: none;
}

/* Mise en place du titre et de l'icone*/
.hosting__popular__title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: var(--spacing-base);
}
.fa-chart-line {
  justify-content: space-between;
}

.hosting__popular__title div {
  font-size: 20px;
  padding-top: 38px;
}
.popular__price p {
  font-size: 0.8em;
}

/* Ajustement des photos*/

.hosting__popular__card__text {
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-column-gap: 10px;
}

/* Insertion des images et mise en forme*/

.photo__hotel__soleil {
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  background-position: center;
  height: 135px;
  width: 35%;
}

.photo__chambres__hotes {
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  background-position: center;
  height: 135px;
  width: 35%;
}

.photo__bleu__blanc {
  background-size: cover;
  border-radius: 20px 0px 0px 20px;
  background-position: center;
  height: 135px;
  width: 35%;
}

/* Mise en forme de chaque photo et description*/

.hosting__popular__card {
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid white;
  box-shadow: 3px 5px 5px #e2e2e2;
}

/* Ajustement description*/
.descripd {
  display: flex;
  flex-direction: column;
}

.popular__price p {
  font-size: 0.8em;
}

.evaluation {
  padding-top: 35px;
}

/* Fin de la mise en forme de la partie hébergement droite*/
